@charset "utf-8";
/* CSS Document */

*{list-style-type:none;box-sizing:border-box;-moz-box-sizing:border-box;}
.bscbox{box-sizing:content-box;}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,input{margin:0;padding:0;}
body{font-size:12px;font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";line-height:120%;
color:#000;background:#fff;margin:0;overflow-x:hidden;}
a,img,fieldset{border:none;}
img{vertical-align:middle;border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
table{empty-cells:show;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
p{margin:0;padding:0;} 
td{padding: 3px;}
ul,ol,li{list-style:none;margin:0;padding:0;}
i, cite, em{font-style:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%;}
input{padding: 1px;vertical-align: middle;line-height: normal;}
label{cursor:pointer;}
a{text-decoration:none; color:#000000;border:0;}
a:link{text-decoration:none; color:#000000;}
a:hover{text-decoration:none; color:#000000;}
a:visited{text-decoration:none; color:#000000;}
a:active{text-decoration:none; color:#000000;}
.clear{height:0;overflow:hidden;clear:both;font-size: 0; line-height:0;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.clearfix{*zoom:1} 
/*去掉input，button外虚线框*/
input,button{outline:none;}
::-moz-focus-inner{border:none;}
a{blr:expression(this.onFocus=this.blur());}
:focus{outline:0;-moz-outline-style:none;}
/*定位公共样式*/
.absmiddle{position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;}
.tl{text-align:left!important;} .tc{text-align:center!important; } .tr{text-align:right!important;}
.tj{text-align:justify!important;} .fl{float:left!important;} .fr{float:right!important;}
.vm{vertical-align:middle;} .vt{vertical-align:top;}
.pr{position:relative;} .pa{position:absolute;} .par{position:absolute;right:0;}
/* 字体公共样式 */
h1, .f24{font-size:24px;} h2, .f20{font-size:20px;} h3, .f18{font-size:18px;}
h4, .f16{font-size:16px;} h5, .f14{font-size:14px;} h6, .f12{font-size:12px;}
.f5{font-size:5px;} .f6{font-size:6px;} .f7{font-size:7px;} .f8{font-size:8px;} 
.f9{font-size:9px;} .f11{font-size:11px;} .f13{font-size:13px;}
.f15{font-size:15px;} .f17{font-size:17px;} .f19{font-size:19px;} .f22{font-size:22px;}
.f26{font-size:26px;} .f28{font-size:28px;} .f30{font-size:30px;} .f35{font-size:35px;}
.f40{font-size:40px;} .f45{font-size:45px;} .f50{font-size:50px;} .f60{font-size:60px;} 
.f70{font-size:70px;} .f80{font-size:80px;} .f90{font-size:90px;} .f100{font-size:100px;}
.fb{font-weight:bold;} .fn{font-weight:normal;}   .tdl{text-decoration:underline;}   
.tdn{text-decoration:none;} .brw{word-wrap:break-word;word-break:normal;} .ti2{text-indent:2em;}
/* 字体大小写公共样式 */
.ttu{text-transform:uppercase;}  /*全部大写*/ .ttl{text-transform:lowercase;}  /*全部小写*/
.ttc{text-transform:capitalize;} /*开头大写*/
/* 字体间距公共样式 */
.ls1{letter-spacing:1px;} .ls2{letter-spacing:2px;} .ls3{letter-spacing:3px;}
.ls4{letter-spacing:4px;} .ls5{letter-spacing:5px;} .ls6{letter-spacing:6px;}
.ls8{letter-spacing:8px;} .ls10{letter-spacing:10px;} .ls12{letter-spacing:12px;}
.ls15{letter-spacing:15px;} .ls20{letter-spacing:20px;} .ls25{letter-spacing:25px;}
/* 文字阴影 */
.ts3{box-shadow: 3px 3px 20px #787878; } .ts5{box-shadow: 5px 5px 20px #787878; }
.ts8{box-shadow: 8px 8px 20px #787878; } .ts10{box-shadow: 10px 10px 20px #787878; }
/* 字体颜色公共样式 */
.col00, a.col00{color:#000;} .cold7, a.cold7{color:#d7000f;} .colff, a.colff{color:#fff;} 
.colbb, a.colbb{color:#003399;} .col87, a.col87{color:#878787;} .col33, a.col33{color:#333;} 
.col66, a.col66{color:#666;} .col99, a.col99{color:#999;} .colee, a.colee{color:#eee;}
/* 背景颜色公共样式 */
.bg00{background-color:#color:#000;}       .bgff{background-color:#color:#fff;}
.bgd7{background-color:#color:#d7000f;}    .bg87{background-color:#color:#878787;}
.bgbb{background-color:#color:#003399;}    .bg66{background-color:#color:#666;}
.bg33{background-color:#color:#333;}       .bg99{background-color:#color:#999;}
.bgee{background-color:#color:#eee;}       
/* 显示公共样式 */
.cud{cursor:default;} /*默认*/ .cup{cursor:pointer;} /*手指*/ .cum{cursor:move;} /*十字移动*/ 
.cuh{cursor:help;} /*问号*/    .cuw{cursor:wait;} /*等待*/
.bgf{background-attachment:fixed;}             /*背景不随内容移动*/
/* 背景图片半透明(需要加在img外的div上，否则ie8无效果) */
.bg9{opacity:0.9;filter:alpha(opacity=90);} .bg8{opacity:0.8;filter:alpha(opacity=80);} 
.bg6{opacity:0.6;filter:alpha(opacity=60);} .bg5{opacity:0.5;filter:alpha(opacity=50);}
.bg4{opacity:0.4;filter:alpha(opacity=40);} .bg2{opacity:0.2;filter:alpha(opacity=20);}
.bg1{opacity:0.1;filter:alpha(opacity=10);}
/* 背景颜色半透明 */
.bg8w{ background:rgba(225,225,225,0.8);}  .bg6w{ background:rgba(225,225,225,0.6);}
.bg4w{ background:rgba(225,225,225,0.4);}  .bg2w{ background:rgba(225,225,225,0.2);}
.bg8b{ background:rgba(0,0,0,0.8);}        .bg6b{ background:rgba(0,0,0,0.6);}
.bg4b{ background:rgba(0,0,0,0.4);}        .bg2b{ background:rgba(0,0,0,0.2);}
.bg8r{ background:rgba(204,0,49,0.8);}     .bg6r{ background:rgba(204,0,49,0.6);}
.bg4r{ background:rgba(204,0,49,0.4);}     .bg2r{ background:rgba(204,0,49,0.2);}
.bg8bb{ background:rgba(0,51,153,0.8);}    .bg6bb{ background:rgba(0,51,153,0.6);}
.bg4bb{ background:rgba(0,51,153,0.4);}    .bg2bb{ background:rgba(0,51,153,0.2);}
.bg8wb{ background:rgba(135,135,135,0.8);} .bg6wb{ background:rgba(135,135,135,0.6);}
.bg4wb{ background:rgba(135,135,135,0.4);} .bg2wb{ background:rgba(135,135,135,0.2);}
/* 去除样式 */
.nobg{background:none!important;}
.nobd{border-style:none!important; border-width:0!important ;}
.nomp{margin:0!important; padding:0!important;}
/* 隐藏显示/溢出隐藏 */
.vish{visibility:hidden!important;} .visv{visibility:visible!important;} /*占空间大小*/  
.disn{display:none!important;}      .disb{display:block!important;}      /*不占空间大小*/ 
.disib{display:inline-block;}       .disi{display:inline;}
.ovh{overflow:hidden;}/*溢出隐藏*/ .ovs{overflow:scroll;}/*滚动条*/ .ova{overflow:auto;}/*溢出滚动条*/
.tovh{white-space:nowrap;  /*强制不换行*/ overflow:hidden; /*自动隐藏文字*/ text-overflow:ellipsis; 
-o-text-overflow:ellipsis;}  /*文字隐藏后添加省略号*/ .ovv{overflow:visible;} /*溢出不隐藏*/ 
/* 行高 */
.lh10{line-height:10px;} .lh15{line-height:15px;} .lh18{line-height:18px;} .lh20{line-height:20px;}
.lh22{line-height:22px;} .lh25{line-height:25px;} .lh30{line-height:30px;} .lh35{line-height:35px;}
.lh40{line-height:40px;} .lh45{line-height:45px;} .lh50{line-height:50px;} .lh100{line-height:100%}
.lh120{line-height:120%} .lh150{line-height:150%} .lh180{line-height:180%} .lh200{line-height:200%}
/* 宽高 */
.w5p{width:5%;} .w10p{width:10%;} .w15p{width:15%;} .w20p{width:20%;} .w25p{width:25%;}
.w30p{width:30%;} .w40p{width:40%;} .w50p{width:50%;} .w60p{width:60%;} .w70p{width:70%;}
.w80p{width:80%;} .w90p{width:90%;} .w100p{width:100%;} 
.h5p{height:5%;} .h10p{height:10%;} .h15p{height:15%;} .h20p{height:20%;} .h25p{height:25%;} 
.h30p{height:30%;} .h40p{height:40%;} .h50p{height:50%;} .h60p{height:60%;} .h70p{height:70%;} 
.h80p{height:80%;} .h90p{height:90%;} .h100p{height:100%;} 
.w1{width:1px;} .w2{width:2px;} .w3{width:3px;} .w4{width:4px;} .w5{width:5px;} .w6{width:6px;} 
.w8{width:8px;} .w10{width:10px;} .w12{width:12px;}.w15{width:15px;} .w18{width:18px;}
.w20{width:20px;} .w22{width:22px;} .w25{width:25px;} .w28{width:28px;} .w30{width:30px;} 
.w35{width:35px;} .w40{width:40px;} .w45{width:45px;} .w50{width:50px;} .w55{width:55px;} 
.w60{width:60px;} .w65{width:65px;}.w70{width:70px;} .w80{width:80px;} .w90{width:90px;} 
.w100{width:100px;} .w125{width:125px;} .w150{width:150px;} .w175{width:175px;} .w200{width:200px;}
.w250{width:250px;} .w300{width:300px;} .w350{width:350px;} .w400{width:400px;} .w450{width:450px;}
.w500{width:500px;} .w600{width:600px;} .w700{width:700px;} .w800{width:800px;} .w900{width:900px;}
.w960{width:960px;} .w980{width:980px;} .w1000{width:1000px;} .w1024{width:1024px;} 
.w1100{width:1100px;} .w1180{width:1180px;} .w1200{width:1200px;} 
.w1300{width:1300px;} .w1440{width:1440px;} .w1920{width:1920px;}
.h1{height:1px;} .h2{height:2px;} .h3{height:3px;} .h4{height:4px;} .h5{height:5px;} 
.h6{height:6px;} .h8{height:8px;} .h10{height:10px;} .h12{height:12px;} .h15{height:15px;}
.h18{height:18px;} .h20{height:20px;} .h22{height:22px;} .h25{height:25px;} .h28{height:28px;} 
.h30{height:30px;} .h35{height:35px;} .h40{height:40px;} .h45{height:45px;} .h50{height:50px;} 
.h55{height:55px;} .h60{height:60px;} .h65{height:65px;}  .h70{height:70px;} .h80{height:80px;} 
.h90{height:90px;} .h100{height:100px;} .h125{height:125px;} .h150{height:150px;} 
.h175{height:175px;} .h200{height:200px;} .h250{height:250px;} .h300{height:300px;} 
.h350{height:350px;} .h400{height:400px;} .h450{height:450px;} .h500{height:500px;} 
.h600{height:600px;} .h700{height:700px;} .h800{height:800px;}
/* 边距 */
.m5p{margin:5%;} .m10p{margin:10%;} .m15p{margin:15%;} .m20p{margin:20%;} .m25p{margin:25%;}
.m30p{margin:30%;} .m40p{margin:40%;} .m50p{margin:50%;} .m60p{margin:60%;} .m70p{margin:70%;}
.m80p{margin:80%;} .m90p{margin:90%;} .m100p{margin:100%;} 
.mt5p{margin-top:5%;} .mt10p{margin-top:10%;} .mt15p{margin-top:15%;} .mt20p{margin-top:20%;} 
.mt25p{margin-top:25%;} .mt30p{margin-top:30%;} .mt40p{margin-top:40%;} .mt50p{margin-top:50%;} 
.mt60p{margin-top:60%;} .mt70p{margin-top:70%;} .mt80p{margin-top:80%;} .mt90p{margin-top:90%;}
.mt100p{margin-top:100%;} 
.mb5p{margin-bottom:5%;} .mb10p{margin-bottom:10%;} .mb15p{margin-bottom:15%;} 
.mb20p{margin-bottom:20%;} .mb25p{margin-bottom:25%;}.mb30p{margin-bottom:30%;} 
.mb40p{margin-bottom:40%;} .mb50p{margin-bottom:50%;} .mb60p{margin-bottom:60%;} 
.mb70p{margin-bottom:70%;} .mb80p{margin-bottom:80%;} .mb90p{margin-bottom:90%;} 
.mb100p{margin-bottom:100%;} 
.ml5p{margin-left:5%;} .ml10p{margin-left:10%;} .ml15p{margin-left:15%;} .ml20p{margin-left:20%;} 
.ml25p{margin-left:25%;} .ml30p{margin-left:30%;} .ml40p{margin-left:40%;} .ml50p{margin-left:50%;}
.ml60p{margin-left:60%;} .ml70p{margin-left:70%;} .ml80p{margin-left:80%;} .ml90p{margin-left:90%;}
.ml100p{margin-left:100%;} 
.mr5p{margin-right:5%;} .mr10p{margin-right:10%;} .mr15p{margin-right:15%;} 
.mr20p{margin-right:20%;} .mr25p{margin-right:25%;} .mr30p{margin-right:30%;} 
.mr40p{margin-right:40%;} .mr50p{margin-right:50%;} .mr60p{margin-right:60%;} 
.mr70p{margin-right:70%;} .mr80p{margin-right:80%;} .mr90p{margin-right:90%;} 
.mr100p{margin-right:100%;} 
.m0{margin:0!important;} .m1{margin:1px;} .m2{margin:2px;} .m3{margin:3px;} .m4{margin:4px;}
.m5{margin:5px;} .m6{margin:6px;} .m8{margin:8px;} .m10{margin:10px;} .m12{margin:12px;} 
.m15{margin:15px;} .m18{margin:18px;} .m20{margin:20px;} .m22{margin:22px;} .m25{margin:25px;} 
.m28{margin:28px;} .m30{margin:30px;} .m35{margin:35px;} .m40{margin:40px;} .m45{margin:45px;}
.m50{margin:50px;} .m55{margin:55px;} .m60{margin:60px;} .m65{margin:65px;} .m70{margin:70px;} 
.m75{margin:75px;} .m80{margin:80px;} .m90{margin:90px;} .m100{margin:100px;} .m150{margin:150px;}
.mt0{margin-top:0!important;} .mt1{margin-top:1px;} .mt2{margin-top:2px;} .mt3{margin-top:3px;} 
.mt4{margin-top:4px;} .mt5{margin-top:5px;} .mt6{margin-top:6px;} .mt8{margin-top:8px;} 
.mt10{margin-top:10px;} .mt12{margin-top:12px;} .mt15{margin-top:15px;} .mt18{margin-top:18px;} 
.mt20{margin-top:20px;} .mt22{margin-top:22px;} .mt25{margin-top:25px;} .mt28{margin-top:28px;} 
.mt30{margin-top:30px;} .mt35{margin-top:35px;} .mt40{margin-top:40px;} .mt45{margin-top:45px;}
.mt50{margin-top:50px;} .mt55{margin-top:55px;} .mt60{margin-top:60px;} .mt65{margin-top:65px;} 
.mt70{margin-top:70px;} .mt75{margin-top:75px;} .mt80{margin-top:80px;} .mt90{margin-top:90px;} 
.mt100{margin-top:100px;} .mt150{margin-top:150px;}
.mb0{margin-bottom:0!important;} .mb1{margin-bottom:1px;} .mb2{margin-bottom:2px;} 
.mb3{margin-bottom:3px;} .mb4{margin-bottom:4px;} .mb5{margin-bottom:5px;} .mb6{margin-bottom:6px;}
.mb8{margin-bottom:8px;} .mb10{margin-bottom:10px;} .mb12{margin-bottom:12px;} 
.mb15{margin-bottom:15px;} .mb18{margin-bottom:18px;} .mb20{margin-bottom:20px;} 
.mb22{margin-bottom:22px;} .mb25{margin-bottom:25px;} .mb28{margin-bottom:28px;} 
.mb30{margin-bottom:30px;} .mb35{margin-bottom:35px;} .mb40{margin-bottom:40px;} 
.mb45{margin-bottom:45px;} .mb50{margin-bottom:50px;} .mb55{margin-bottom:55px;} 
.mb60{margin-bottom:60px;} .mb65{margin-bottom:65px;} .mb70{margin-bottom:70px;} 
.mb75{margin-bottom:75px;} .mb80{margin-bottom:80px;} .mb90{margin-bottom:90px;} 
.mb100{margin-bottom:100px;} .mb150{margin-bottom:150px;}
.ml0{margin-left:0!important;} .ml1{margin-left:1px;} .ml2{margin-left:2px;} .ml3{margin-left:3px;}
.ml4{margin-left:4px;} .ml5{margin-left:5px;} .ml6{margin-left:6px;} .ml8{margin-left:8px;} 
.ml10{margin-left:10px;} .ml12{margin-left:12px;} .ml15{margin-left:15px;} .ml18{margin-left:18px;}
.ml20{margin-left:20px;} .ml22{margin-left:22px;} .ml25{margin-left:25px;} .ml28{margin-left:28px;}
.ml30{margin-left:30px;} .ml35{margin-left:35px;} .ml40{margin-left:40px;} .ml45{margin-left:45px;}
.ml50{margin-left:50px;} .ml55{margin-left:55px;} .ml60{margin-left:60px;} .ml65{margin-left:65px;}
.ml70{margin-left:70px;} .ml75{margin-left:75px;} .ml80{margin-left:80px;} .ml90{margin-left:90px;}
.ml100{margin-left:100px;} .ml150{margin-left:150px;}
.mr0{margin-right:0!important;} .mr1{margin-right:1px;} .mr2{margin-right:2px;} 
.mr3{margin-right:3px;} .mr4{margin-right:4px;} .mr5{margin-right:5px;} .mr6{margin-right:6px;} 
.mr8{margin-right:8px;} .mr10{margin-right:10px;} .mr12{margin-right:12px;} 
.mr15{margin-right:15px;} .mr18{margin-right:18px;} .mr20{margin-right:20px;} 
.mr22{margin-right:22px;} .mr25{margin-right:25px;} .mr28{margin-right:28px;}
.mr30{margin-right:30px;} .mr35{margin-right:35px;} .mr40{margin-right:40px;} 
.mr45{margin-right:45px;} .mr50{margin-right:50px;} .mr55{margin-right:55px;} 
.mr60{margin-right:60px;} .mr65{margin-right:65px;} .mr70{margin-right:70px;} 
.mr75{margin-right:75px;} .mr80{margin-right:80px;} .mr90{margin-right:90px;}
.mr100{margin-right:100px;} .mr150{margin-right:150px;}
.p5p{padding:5%;} .p10p{padding:10%;} .p15p{padding:15%;} .p20p{padding:20%;} .p25p{padding:25%;}
.p30p{padding:30%;} .p40p{padding:40%;} .p50p{padding:50%;} .p60p{padding:60%;} .p70p{padding:70%;}
.p80p{padding:80%;} .p90p{padding:90%;} .p100p{padding:100%;} 
.pt5p{padding-top:5%;} .pt10p{padding-top:10%;} .pt15p{padding-top:15%;} .pt20p{padding-top:20%;}
.pt25p{padding-top:25%;} .pt30p{padding-top:30%;} .pt40p{padding-top:40%;} .pt50p{padding-top:50%;}
.pt60p{padding-top:60%;} .pt70p{padding-top:70%;} .pt80p{padding-top:80%;} .pt90p{padding-top:90%;}
.pt100p{padding-top:100%;} 
.pb5p{padding-bottom:5%;} .pb10p{padding-bottom:10%;} .pb15p{padding-bottom:15%;} 
.pb20p{padding-bottom:20%;} .pb25p{padding-bottom:25%;} .pb30p{padding-bottom:30%;} 
.pb40p{padding-bottom:40%;} .pb50p{padding-bottom:50%;} .pb60p{padding-bottom:60%;} 
.pb70p{padding-bottom:70%;} .pb80p{padding-bottom:80%;} .pb90p{padding-bottom:90%;} 
.pb100p{padding-bottom:100%;} 
.pl5p{padding-left:5%;} .pl10p{padding-left:10%;} .pl15p{padding-left:15%;} 
.pl20p{padding-left:20%;} .pl25p{padding-left:25%;} .pl30p{padding-left:30%;} 
.pl40p{padding-left:40%;} .pl50p{padding-left:50%;} .pl60p{padding-left:60%;} 
.pl70p{padding-left:70%;} .pl80p{padding-left:80%;} .pl90p{padding-left:90%;} 
.pl100p{padding-left:100%;} 
.pr5p{padding-right:5%;} .pr10p{padding-right:10%;} .pr15p{padding-right:15%;} 
.pr20p{padding-right:20%;} .pr25p{padding-right:25%;} .pr30p{padding-right:30%;} 
.pr40p{padding-right:40%;} .pr50p{padding-right:50%;} .pr60p{padding-right:60%;} 
.pr70p{padding-right:70%;} .pr80p{padding-right:80%;} .pr90p{padding-right:90%;} 
.pr100p{padding-right:100%;} 
.p0{padding:0!important;} .p1{padding:1px;} .p2{padding:2px;} .p3{padding:3px;} .p4{padding:4px;}
.p5{padding:5px;} .p6{padding:6px;} .p8{padding:8px;} .p10{padding:10px;} .p12{padding:12px;} 
.p15{padding:15px;} .p18{padding:18px;} .p20{padding:20px;} .p22{padding:22px;} .p25{padding:25px;}
.p28{padding:28px;} .p30{padding:30px;} .p35{padding:35px;} .p40{padding:40px;} .p45{padding:45px;}
.p50{padding:50px;} .p55{padding:55px;} .p60{padding:60px;} .p65{padding:65px;} .p70{padding:70px;}
.p75{padding:75px;} .p80{padding:80px;} .p90{padding:90px;} .p100{padding:100px;} 
.p150{padding:150px;}
.pt0{padding-top:0!important;} .pt1{padding-top:1px;} .pt2{padding-top:2px;} .pt3{padding-top:3px;}
.pt4{padding-top:4px;} .pt5{padding-top:5px;} .pt6{padding-top:6px;} .pt8{padding-top:8px;} 
.pt10{padding-top:10px;} .pt12{padding-top:12px;} .pt15{padding-top:15px;} .pt18{padding-top:18px;}
.pt20{padding-top:20px;} .pt22{padding-top:22px;} .pt25{padding-top:25px;} .pt28{padding-top:28px;}
.pt30{padding-top:30px;} .pt35{padding-top:35px;} .pt40{padding-top:40px;} .pt45{padding-top:45px;}
.pt50{padding-top:50px;} .pt55{padding-top:55px;} .pt60{padding-top:60px;} .pt65{padding-top:65px;}
.pt70{padding-top:70px;} .pt75{padding-top:75px;} .pt80{padding-top:80px;} .pt90{padding-top:90px;}
.pt100{padding-top:100px;} .pt150{padding-top:150px;}
.pb0{padding-bottom:0!important;} .pb1{padding-bottom:1px;} .pb2{padding-bottom:2px;} 
.pb3{padding-bottom:3px;} .pb4{padding-bottom:4px;} .pb5{padding-bottom:5px;} 
.pb6{padding-bottom:6px;} .pb8{padding-bottom:8px;} .pb10{padding-bottom:10px;} 
.pb12{padding-bottom:12px;} .pb15{padding-bottom:15px;} .pb18{padding-bottom:18px;}
.pb20{padding-bottom:20px;} .pb22{padding-bottom:22px;} .pb25{padding-bottom:25px;} 
.pb28{padding-bottom:28px;} .pb30{padding-bottom:30px;} .pb35{padding-bottom:35px;} 
.pb40{padding-bottom:40px;} .pb45{padding-bottom:45px;} .pb50{padding-bottom:50px;} 
.pb55{padding-bottom:55px;} .pb60{padding-bottom:60px;} .pb65{padding-bottom:65px;}
.pb70{padding-bottom:70px;} .pb75{padding-bottom:75px;} .pb80{padding-bottom:80px;} 
.pb90{padding-bottom:90px;} .pb100{padding-bottom:100px;} .pb150{padding-bottom:150px;}
.pl0{padding-left:0!important;} .pl1{padding-left:1px;} .pl2{padding-left:2px;} 
.pl3{padding-left:3px;} .pl4{padding-left:4px;} .pl5{padding-left:5px;} .pl6{padding-left:6px;} 
.pl8{padding-left:8px;} .pl10{padding-left:10px;} .pl12{padding-left:12px;} 
.pl15{padding-left:15px;} .pl18{padding-left:18px;} .pl20{padding-left:20px;} 
.pl22{padding-left:22px;} .pl25{padding-left:25px;} .pl28{padding-left:28px;} 
.pl30{padding-left:30px;} .pl35{padding-left:35px;} .pl40{padding-left:40px;} 
.pl45{padding-left:45px;} .pl50{padding-left:50px;} .pl55{padding-left:55px;} 
.pl60{padding-left:60px;} .pl65{padding-left:65px;} .pl70{padding-left:70px;} 
.pl75{padding-left:75px;} .pl80{padding-left:80px;} .pl90{padding-left:90px;} 
.pl100{padding-left:100px;} .pl150{padding-left:150px;}
.pr0{padding-right:0!important;} .pr1{padding-right:1px;} .pr2{padding-right:2px;} 
.pr3{padding-right:3px;} .pr4{padding-right:4px;} .pr5{padding-right:5px;} .pr6{padding-right:6px;}
.pr8{padding-right:8px;} .pr10{padding-right:10px;} .pr12{padding-right:12px;} 
.pr15{padding-right:15px;} .pr18{padding-right:18px;} .pr20{padding-right:20px;} 
.pr22{padding-right:22px;} .pr25{padding-right:25px;} .pr28{padding-right:28px;} 
.pr30{padding-right:30px;} .pr35{padding-right:35px;} .pr40{padding-right:40px;} 
.pr45{padding-right:45px;} .pr50{padding-right:50px;} .pr55{padding-right:55px;} 
.pr60{padding-right:60px;} .pr65{padding-right:65px;} .pr70{padding-right:70px;} 
.pr75{padding-right:75px;} .pr80{padding-right:80px;} .pr90{padding-right:90px;} 
.pr100{padding-right:100px;} .pr150{padding-right:150px;}
/* 过渡效果 */
.trst1{transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;}
.trst2{transition:all 2s;-moz-transition:all 2s;-webkit-transition:all 2s;-o-transition:all 2s;}
.trst3{transition:all 3s;-moz-transition:all 3s;-webkit-transition:all 3s;-o-transition:all 3s;}	
/* 翻转和旋转 */
.ot180y{-moz-transform:rotateY(180deg);-webkit-transform:rotateY(180deg);
-o-transform:rotateY(180deg);transform:rotateY(180deg);}
.ot180x{-moz-transform:rotateX(180deg);-webkit-transform:rotateX(180deg);
-o-transform:rotateX(180deg);transform:rotateX(180deg);}
.rt90{-moz-transform:rotateZ(90deg);-webkit-transform:rotateZ(90deg);
-o-transform:rotateZ(90deg);transform:rotateZ(90deg);}
.rt180{-moz-transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg);
-o-transform:rotateZ(180deg);transform:rotateZ(180deg);}
.rt270{-moz-transform:rotateZ(270deg);-webkit-transform:rotateZ(270deg);
-o-transform:rotateZ(270deg);transform:rotateZ(270deg);}
/* 圆角和阴影 */
.b5_radius{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;} 
.b3_shadow{-moz-box-shadow: 3px 3px 20px #787878; -webkit-box-shadow: 3px 3px 20px #787878; 
box-shadow: 3px 3px 20px #787878;} 
.b15_radius{-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;} 
.b5_shadow{-moz-box-shadow: 5px 5px 20px #787878; -webkit-box-shadow: 5px 5px 20px #787878; 
box-shadow: 5px 5px 20px #787878;} 
.b25_radius{-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;} 
.b8_shadow{-moz-box-shadow: 8px 8px 20px #787878; -webkit-box-shadow: 8px 8px 20px #787878; 
box-shadow: 8px 8px 20px #787878;} 
.b35_radius{-moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px;} 
.b10_shadow{-moz-box-shadow: 10px 10px 20px #787878; -webkit-box-shadow: 10px 10px 20px #787878; 
box-shadow: 10px 10px 20px #787878;} 
.b45_radius{-moz-border-radius: 45px; -webkit-border-radius: 45px; border-radius: 45px;} 
.b15_shadow{-moz-box-shadow: 15px 15px 20px #787878; -webkit-box-shadow: 15px 15px 20px #787878; 
box-shadow: 15px 15px 20px #787878;} 